<div class="manage-posts-container">
    <form #postForm="ngForm">
        <div class="form-group">
            <input type="text" name="title" id="title" class="form-control" [ngModel]="toEditPost.title" placeholder="Enter title" required>
            <div class="title-error" *ngIf="errorMessages.titleError !== ''">{{errorMessages.titleError}}</div>
        </div><br>
        <pre></pre>
        <div class="form-group">
            <input type="text" name="body" id="body" class="form-control" [ngModel]="toEditPost.body" placeholder="Enter description" required>
            <div class="body-error" *ngIf="errorMessages.bodyError !== ''">{{errorMessages.bodyError}}</div>
        </div><br>
        <button type="submit" id="add-new-post-btn"  (click)="onSubmit(postForm)">Add</button>
    </form>
</div>